/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

body {
	margin: 0 auto;
	width: 900px;
}

.top-section {
	display: flexbox;
}

nav {
	display: flexbox;
	padding: 20px 0px;
	margin: 20px 0px;
	border: 20px;
	word-spacing: 45px;
}

.Main-header {
	display: flexbox;
	width: 42px;
}

header {
	text-align: center;
}

.right {
	display: flexbox;
	width: 145%;
	margin-top: -40%;
}

.code {
	display: flexbox;
	width: 420px;
}

.logo {
	display: flexbox;
	padding: 20px;
}

.middle-img {
	align-content: center;
	width: 100%;
}

.block1 {
	display: flexbox;
	margin-right: 55%;
	
}

.block2 {
	display: flexbox;
	margin-left: 50%;
	margin-top: -10%;
}

.block3 {
	display: flexbox;
	width: 280px;
	margin-right: auto;
}

.block4 {
	display: flex;
	justify-content: flex-start;
	flex-flow: column;
	width: 280px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -1%;
}

.block5 {
	display: flexbox;
	width: 280px;
	margin-top: -29%;
	margin-left: auto;
}

footer {
	text-align: center;
}

.title {
	font-size: 80px;
	display: flex;
	margin: 20 px;
	padding-top: 60px;
}

.block1s {
	margin-top: 4%;
}

.content {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 425px;
	border-style: solid;
	border-width:1px;
	color:black;
	margin: 10px;
}

.column {
	display: flex;
	flex-flow: wrap;

}

.block8s {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 425px;
	margin: 10 px;
}

.services-info-img {
	margin-left: 50%;
	margin-top: -25%;
}

.top{
	display:flex;
	justify-content: space-between;
	align-items: center;
}

.mid50{
	display: flex;
	justify-content: space-between;
	align-content: center;	
}

.block50{
	width: 450px
}

.mid33{
	display: flex;
	justify-content: space-between;
}

.block33{
	display:flex;
	text-align:left;
	flex-direction: column;
	width: 350px;
